*{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h3{
    font-size: 2.6rem;
    margin: 0;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
}
h4{
    font-size: 1.6rem;
    margin: 0;
    padding-bottom: 5px;
}
header{
    background-color: #000000e1;
    box-shadow: 0px 5px 15px #000000e1;
    color: #f6f6f6;
    text-align: center;
    font-family: Tahoma;
    width: 100%;
    position: fixed;
}
/* Estilização do menu do header */
nav{
    text-align: center;
    font-family: Tahoma;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0 10px;
    word-spacing: 10px;
}
a{
    text-decoration: none;
    color: #f6f6f6;
    transition: all 150ms;
}
a:hover{
    color: #00acb7;
    text-decoration: underline;
}
body{
    background-color: #eee;
}
.container{
    background-color: #f6f6f6;
    width: 90%;
    box-shadow: 5px 5px 10px #dddddd;
    padding: 15px;
    margin: 75px auto 0;
    max-width: 800px;
    border-radius: 10px;
}
.grid{
    display:grid;
    grid-gap: 16px;
    margin: 0;
}
@media (min-width: 600px) {
    .grid {
      grid-template-columns: 1;
/*       grid-template-rows: 38vh; */
    }
}
@media (min-width: 800px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
/*       grid-template-rows: 38vh; */
    }
}
.bloco{
    padding: 5px;
    text-align: center;
}

.bloco img{
    max-width: 50rem;
    border-radius: 10px;
}
.bloco iframe{
    max-width: 50rem;
    height: 50rem;
}
/* Estilização do footer */
footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #f6f6f6;
    background-color: #000;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eee;
    font-size: 2rem;
    padding-bottom: 10px;
}